<h1>Editing Data Source</h1>

<%= render 'form', data_source: @data_source %>

<%= link_to t('button.show'), @data_source, class: "ui button black" %>

<%= link_to t('button.back'), data_sources_path, class: "ui button black" %>
