<div class="ui divider"></div>

<% return unless @production.graph.count > 0 %>

<% if @production.layout_id  %>
  <div class="ui top mini attached tabular menu">
    <div class="propSpotlight active item">Preview</div>
    <div class="propAll item">All</div>
  </div>
  <div class="propSpotlight ui bottom attached  active tab segment">

    <div class="meta">
      <% @production.spotlight_properties.first.each do |prop, value| %>
        <%= render partial: 'rdf_star_details', locals: { prop: prop, value: value } unless prop == "@id" ||  prop == "@type"%>
      <% end %>
    </div>
  </div>
  <div class="propAll ui bottom attached  <%= "active" if !@production.layout_id %> tab segment">
   
    <div class="meta">
    <% @production.entity_properties.first.each do |prop, value| %>
      <%= render partial: 'rdf_star_details', locals: { prop: prop, value: value } unless prop == "@id" %>
    <% end %>
    </div>
  </div>

<% else %>

  <div class="meta">
   <% @production.entity_properties.first.each do |prop, value| %>
     <%= render partial: 'rdf_star_details', locals: { prop: prop, value: value } unless prop == "@id" ||  prop == "@type"%>
   <% end %>

  
  </div>
<% end %>