

<div class="ui special link four stackable cards spotlight-cards">
<% spotlight_list.each do |spotlight| %>
   <%= render partial: "/spotlights/spotlight_card", locals: { spotlight: spotlight } %>
  <% end %>
</div>