<p id="notice"><%= notice %></p>
 <h1 class="header">Places</h1>
<div class="ui divider"></div>

<div class="ui raised segment no padding">
<%= react_component("Search") %>
</div>

<h1 class="header"> Newly Added Places </h1>
<div class="ui divider"></div>