<script> window.textOverride = {
  "profile_alt_logo": "Profil verwalten",
  "profile_nav_profile": "Profil",
  "profile_alt_logo": "Mitgliedschaft",
  "profile_logout": "Ausloggen",
  "profile_exit": "Schliessen",
  "profile_info": "Meine Informationen",
  "profile_updated": "Profil aktualisiert",
  "profile_update": "Aktualisieren",
  "profile_email": "E-Mail-Adresse",
  "profile_temp_email": "Bitte kontaktieren Sie uns, um Ihre E-Mail-Adresse zu ändern",
  "profile_change_pass": "Passwort ändern",
  "profile_current_pass": "Aktuelles Passwort",
  "profile_new_pass": "Neues Passwort",
  "profile_confirm_pass": "Bestätigen",
  "profile_manage_mem": "Mitgliedschaft verwalten",
  "profile_trial": "Kostenlose Testversion",
  "profile_active": "Aktiv",
  "profile_past_due": "Ausstehend",
  "profile_canceled": "Gekündigt",
  "profile_test": "Test Modus",
  "profile_free": "Kostenlos",
  "profile_cancel": "Kündigen",
  "profile_will_cancel": "Wird gekündigt am",
  "profile_renew": "Wird verlängert am",
  "profile_period_end": "Ihr Abonnement wird am Ende dieser Periode gekündigt.",
  "profile_confirm_cancel": "Kündigung bestätigen",
  "profile_pay_method": "Zahlungsmethode",
  "profile_ending_in": "endet mit",
  "profile_expire": "Verfällt am",
  "profile_edit": "Bearbeiten",
  "profile_no_card": "Keine Karte angegeben",
  "profile_add_card": "Karte hinzufügen",
  "profile_new_card_label": "Neue Kredit- oder Debitkarte",
  "profile_card_updated": "Karte aktualisiert",
  "profile_change_card": "Karte ändern",
  "profile_history": "Rechnungs-Verlauf",
  "profile_view_invoice": "Anzeigen",
  "profile_invoice_empty": "Rechnungen werden möglicherweise nicht sofort angezeigt",
  "profile_password_required": "Altes und neues Passwort erforderlich",
  "profile_password_err": "Aktuelles Passwort falsch",
  "profile_canceled_success": "Deine Mitgliedschaft wurde gekündigt. Du wirst in 5 Sekunden abgemeldet.",
  
  "pay_secure_checkout": "Sicheres Bezahlen",
  "pay_update_membership": "Mitgliedschaft aktualisieren",
  "pay_not_active": "Ihre Mitgliedschaft ist nicht mehr aktiv",
  "pay_billed": "Zahlung",
  "pay_month": "monatlich",
  "pay_year": "jährlich",
  "pay_week": "wöchentlich",
  "pay_once": "einmalig",
  "pay_after": "nach",
  "pay_trial": "tägigem kostenlosen Test",
  "pay_free": "Kostenlos",
  "pay_billed_once": "Einmalig",
  "pay_sub_total": "Zwischensumme",
  "pay_tax": "Steuern",
  "pay_total": "Gesamtsumme",
  "pay_coupon": "Gutschein",
  "pay_have_coupon": "Ich habe einen Gutscheincode",
  "pay_apply": "Anwenden",
  "pay_not_valid": "Dieser Code ist ungültig",
  "pay_off": "Rabatt",
  "pay_coupon_forever": "für immer",
  "pay_test": "TEST MODUS",
  "pay_renew": "Mitgliedschaft erneuern",
  "pay_change": "Mitgliedschaft ändern",
  "pay_confirm": "Bestätigen",
  "pay_confirm_pay": "Bestätigen und bezahlen",
  "pay_start_trial": "Kostenlose Testversion starten",
  "pay_agree": "Beim Senden Ihrer Daten stimmen Sie folgendem zu:",
  "pay_terms": "Nutzungsbedingungen",
  "pay_and": "und",
  "pay_privacy": "Datenschutzerklärungen",
  "incorrect_number": "Die Karten-Nummer ist ungültig.",
  "invalid_expiry_month": "Der Verfalls-Monat der Karte ist ungültig.",
  "invalid_expiry_year": "Das Verfalls-Jahr der Karte ist ungültig.",
  "expired_card": "Die Karte ist abgelaufen.",
  "incorrect_cvc": "Der Karten-Sicherheitscode ist ungültig.",
  "address_zip_check": "Der Karten PIN-Code ist ungültig.",
  "card_declined": "Die Karte wurde abgelehnt.",
  
  "reset_steps_1": "Schritt 1 von 2",
  "reset_your_password": "Passwort zurücksetzen",
  "reset_enter_email": "Geben Sie Ihre E-Mail-Adresse an, und wir senden Ihnen Anweisungen zum Zurücksetzen Ihres Passwortes.",
  "reset_send_reset": "E-Mail zur Passwortzurücksetzung senden",
  "reset_email_address": "E-Mail-Adresse",
  "reset_have_code": "Ich habe bereits einen Zurücksetzen-Code",
  "reset_steps_2": "Schritt 2 von 2",
  "reset_check_email": "Überprüfen Sie ihre E-mails",
  "reset_enter_code": "Bitte geben Sie den Zurücksetzen-Code ein. Dann erstellen und bestätigen Sie Ihr neues Passwort.",
  "reset_reset_code": "Zurücksetzen-Code",
  "reset_new_password": "Neues Passwort",
  "reset_confirm_password": "Passwort bestätigen",
  "reset_password": "Passwort zurücksetzen",
  "reset_send_new": "Senden Sie einen neuen Zurücksetzen-Code",
  "reset_code_invalid": "Ungütiger Zurücksetzen-Code",
  "reset_code_incorrect": "Zurücksetzen-Code ist ungültig",
  
  "incorrect_email_password": "Falsche E-Mail oder Passwort",
  "invalid_password": "Passwort zu kurz, min. 8 Zeichen",
  "email_taken": "E-Mail bereits vergeben",
  "invalid_email": "Ungültige E-Mail-Adresse",
  "membership_current": "Das ist deine aktuelle Mitgliedschaft",
  "membership_missing": "Keine Mitgliedschaft ausgewählt",
  "err_card_required": "Karten-Information erforderlich",
  "unexpected_error": "Es ist ein unerwarteter Fehler aufgetreten",
  "err_upgrade": "Sie können nicht von einer veröffentlichten Mitgliedschaft zu einer Testmitgliedschaft wechseln.",
  "invalid_confirm_password": "Passwörter stimmen nicht überein",
  "password_change_success": "Passwort geändert!",
  
  "signup_head": "Konto erstellen",
  "signup_password": "Passwort",
  "signup_button": "Registrieren",
  "signup_already": "Bereits Mitglied?",
  "signup_login": "Hier anmelden",
  "login_head": "Willkommen zurück",
  "login_reset_password": "Passwort zurücksetzen",
  "login_button": "Anmelden",
  "login_need": "Brauchen Sie einen Account?",
  "login_signup": "Hier registrieren",
  } </script>